*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe{
    display: block;
    margin: 0 auto;
    border: 2px solid #777;
    margin-top: 33px;
    margin-bottom: 33px;
}

h2{
    color: #fff;
    padding: 12px 24px 0 0;
    text-align: center;
}

h1 a{
    text-decoration: none;
    color: #fff;
}